%pip install pyodbc  
%pip install python-dotenv

In [3]:
#  a package for creating connection strings to your remote database
%pip install pyodbc

Collecting pyodbc
  Downloading pyodbc-4.0.39-cp311-cp311-win_amd64.whl (69 kB)
     -------------------------------------- 69.7/69.7 kB 253.9 kB/s eta 0:00:00
Installing collected packages: pyodbc
Successfully installed pyodbc-4.0.39
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
# a package for creating environment variables that will help you hide sensitve configuration information such as database credentials and API keys
%pip install python-dotenv

Collecting python-dotenv
  Using cached python_dotenv-1.0.0-py3-none-any.whl (19 kB)
Installing collected packages: python-dotenv
Successfully installed python-dotenv-1.0.0
Note: you may need to restart the kernel to use updated packages.

  WARNING: The script dotenv.exe is installed in 'c:\Users\HP\AppData\Local\Programs\Python\Python311\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.

[notice] A new release of pip available: 22.3.1 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

import pyodbc #just installed with pip
from dotenv import dotenv_values #import the dotenv_values function from the dotenv package
import pandas as pd
import warnings 

warnings.filterwarnings('ignore')

In [2]:
import pyodbc
from dotenv import dotenv_values
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

# Load environment variables from .env file into a dictionary
environment_variables = dotenv_values('.env')
# Get the values for the credentials you set in the '.env' file
database = environment_variables.get("DATABASE")
server = environment_variables.get("SERVER")
username = environment_variables.get("USERNAME")
password = environment_variables.get("PASSWORD")

connection_string = f"DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}"

In [6]:
# Load environment variables from .env file into a dictionary
environment_variables = dotenv_values('.env')


# Get the values for the credentials you set in the '.env' file
database = environment_variables.get("DATABASE")
server = environment_variables.get("SERVER")
username = environment_variables.get("USERNAME")
password = environment_variables.get("PASSWORD")

connection_string = f"DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}"

In [7]:
# Use the connect method of the pyodbc library and pass in the connection string.
# This will connect to the server and might take a few seconds to be complete. 
# Check your internet connection if it takes more time than necessary

connection = pyodbc.connect(connection_string)

In [9]:
query = "Select * from dbo.LP1_startup_funding2020"
data = pd.read_sql(query, connection)

In [10]:
data.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,None
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,None
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed,None
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None,None
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None,None

In [19]:
data.shape

(1055, 10)

In [16]:
data.columns

Index(['Company_Brand', 'Founded', 'HeadQuarter', 'Sector', 'What_it_does',
       'Founders', 'Investor', 'Amount', 'Stage', 'column10'],
      dtype='object')

In [24]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1055 non-null   object
 1   Founded        842 non-null    float64
 2   HeadQuarter    961 non-null    object
 3   Sector         1042 non-null   object
 4   What_it_does   1055 non-null   object
 5   Founders       1043 non-null   object
 6   Investor       1017 non-null   object
 7   Amount         801 non-null    float64
 8   Stage          591 non-null    object
 9   column10       2 non-null      object
dtypes: float64(2), object(8)
memory usage: 82.5+ KB

DATA CLEANING

In [38]:
#drop the unwanted columns in the data
to_drop = ['column10']
data.drop(to_drop,inplace=True, axis=0)
#data.drop(columns='Founded', inplace=True)
#data.drop(columns=to_drop,inplace=True)

KeyError: "['column10'] not found in axis"

In [39]:
#Examing duplicated values
data.duplicated

<bound method DataFrame.duplicated of      Company_Brand HeadQuarter              Sector
0       Aqgromalin     Chennai            AgriTech  \
1         Krayonnz   Bangalore              EdTech
2     PadCare Labs        Pune  Hygiene management
3            NCOME   New Delhi              Escrow
4       Gramophone      Indore            AgriTech
...            ...         ...                 ...
1050  Leverage Edu       Delhi              Edtech
1051         EpiFi        None             Fintech
1052       Purplle      Mumbai           Cosmetics
1053        Shuttl       Delhi           Transport
1054         Pando     Chennai            Logitech

                                           What_it_does
0                          Cultivating Ideas for Profit  \
1     An academy-guardian-scholar centric ecosystem ...
2      Converting bio-hazardous waste to harmless waste
3                          Escrow-as-a-service platform
4     Gramophone is an AgTech platform enabling acce...
...                                                 ...
1050  AI enabled marketplace that provides career gu...
1051  It offers customers with a single interface fo...
1052         Online makeup and beauty products retailer
1053                    App based bus aggregator serice
1054            Networked logistics management software

                                               Founders
0                       Prasanna Manogaran, Bharani C L  \
1                      Saurabh Dixit, Gurudutt Upadhyay
2                                       Ajinkya Dhariya
3                                         Ritesh Tiwari
4     Ashish Rajan Singh, Harshit Gupta, Nishant Mah...
...                                                 ...
1050                                  Akshay Chaturvedi
1051                    Sujith Narayanan, Sumit Gwalani
1052                          Manish Taneja, Rahul Dash
1053                      Amit Singh, Deepanshu Malviya
1054                     Jayakrishnan, Abhijeet Manohar

                                   Investor      Amount       Stage
0                           Angel investors    200000.0        None
1                           GSF Accelerator    100000.0    Pre-seed
2                            Venture Center         NaN    Pre-seed
3       Venture Catalysts, PointOne Capital    400000.0        None
4       Siana Capital Management, Info Edge    340000.0        None
...                                     ...         ...         ...
1050  DSG Consumer Partners, Blume Ventures   1500000.0        None
1051          Sequoia India, Ribbit Capital  13200000.0  Seed Round
1052                             Verlinvest   8000000.0        None
1053             SIG Global India Fund LLP.   8043000.0    Series C
1054                      Chiratae Ventures   9000000.0    Series A

[1055 rows x 8 columns]>

In [22]:

#finding the missing value
data.isnull().sum()

Company_Brand       0
Founded           213
HeadQuarter        94
Sector             13
What_it_does        0
Founders           12
Investor           38
Amount            254
Stage             464
column10         1053
dtype: int64

In [11]:
query2 = "Select * from dbo.LP1_startup_funding2021"
data2 = pd.read_sql(query2, connection)

In [12]:
data2.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",None
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed

In [20]:
data2.shape

(1209, 9)

In [13]:
data3 = pd.read_csv("startup_funding2019.csv")

In [14]:
data3.head()

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey","$28,000,000",Fresh funding
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...","$30,000,000",Series D
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),"$6,000,000",NaN

In [15]:
data4 = pd.read_csv("startup_funding2018.csv")
data4.head()

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...

Hypothesis
H0 = Funding is highly dependent on the industry/sector a company is in.
Ha = Funding is not dependent on industry/sector.

Questions
1. Which sector/industry recevied the highest amount?
2. At what stage/round can a sector/industry received the highest amount?
3. Which location have the highest amount?
4. Which location have the least amount?
5. What does each company do that make them to receive the highest amount?